@using System.Globalization
@model IEnumerable<Product>

<div class="row pb-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-1 border-top border-5 rounded">
						<img src="@product.ImageUrl" class="card-img-top rounded bg-dark-subtle p-1"/>
						<div class="card-body p-1 pt-2">
							<div class="pl-1 mb-4 \">
								<p class="card-title text-dark fs-6 fw-bold m-0">@product.Title</p>
								<span class="badge fw-light text-dark-emphasis text-opacity-50 p-0 mt-0"><b>@product.Category.Name</b></span>
							</div>

							<div class="pl-1">
								<p class="text-info mb-1 fw-bold">
									<span class="text-red">@product.Price20.ToString("C", CultureInfo.CreateSpecificCulture("en"))</span>
									<span class="text-decoration-line-through text-dark">@product.ListPrice.ToString("C", CultureInfo.CreateSpecificCulture("en"))</span>
								</p>
							</div>
						</div>
						<div>
							<a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-warning border-0 form-control rounded-5 shadow">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>